---
layout: default
---

<article class="prose mx-auto px-4">
  <header class="text-sm text-slate-500 py-4 flex justify-between font-serif">
    <span>About {{ content | readingTime }} reading time</span>
    <span class="">{{page.date | format }}</span>
  </header>
  {{ content | safe }}
</article>
