//   sizing
html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
svg {
  width: 80vw;
  max-height: 95vh;
  max-width: 900px;
}

body, svg {
  background: #474647;
}
