//   sizing
html {
  height: 100%;
}
body {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
svg {
  width: 90vw;
  max-height: 95vh;
}
