---
fontSizes:
  - text-xs
  - text-sm
  - text-lg
  - text-xl
  - text-2xl
  - text-3xl
fontStyles:
  - underline
  - italic
  - font-thin
  - font-bold
  - line-through
---

<h2>Typography</h2>

<div class="grid grid-cols-3">
  <div class="fragment">
    <h3>Sizes</h3>
    {% for size in fontSizes %}
    <div class="{{size}} font-mono">.{{size}}</div>
    {% endfor %}

  </div>
  <div class="fragment">
    <h3>Styles</h3>
    {% for size in fontStyles %}
    <div class="{{size}} font-mono">.{{size}}</div>
    {% endfor %}
  </div>
  <div class="fragment">
    <h3>Family</h3>
    <div class=" font-mono">.font-mono</div>
    <div class=" font-serif">.font-serif</div>
    <div class=" font-sans">.font-sans</div>
  </div>
</div>
