---
layout: default
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<div class="flex prose mx-auto flex-col gap-4 items-stretch md:px-0 px-4">
  {% for post in posts %}
    <article class=" border-b pb-4 border-green-800">
      <header class="text-sm text-slate-500 py-4 flex justify-between font-serif">
        <span>About
          {{ post | readingTime }}
          reading time</span>
        <span class="">{{post.date | format }}</span>
      </header>
      <a href="{{ post.url | url }}" class="no-underline">
      <h1 class="mb-0 no-underline">
        {{ post.data.title }}
      </h1>
      </a>
    </article>
  {% endfor %}
</div>
