---
permalink: /toc.html
bgcolor: rgb(100 116 139)  
eleventyExcludeFromCollections: true
---
<ul class="m-8">
  {%- for post in collections.all -%}
    <li class="list-decimal"><a href="{{ post.url }}" class="px-2 underline hover:bg-yellow-200">{{ post.url }}</a></li>
  {%- endfor -%}
</ul>