.slides code[class*="language-"],
.slides pre[class*="language-"] {
  font-size: 28px;
  @apply text-green-400;
}

.reveal .slides {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-green-400;
  }

  h1,
  h2 {
    @apply border-b border-green-400;
  }


  blockquote {
    @apply relative;
  }

  blockquote:before,
  blockquote:after {
    font-size: 10rem;
    @apply text-green-400 absolute;
  }

  blockquote:before {
    content: open-quote;
    line-height: 10rem;
    @apply -top-8 -left-8 m-0 p-0;
  }

  blockquote:after {
    content: close-quote;
    @apply -bottom-8 -right-4 m-0 p-0;
    line-height: 0;
  }


}
