---
layout: layout.page.njk
bgcolor: '#f87171'  #red-400
---
<header class="relative px-4 md:px-0">

  <h1 class="fixed mt-52 -z-50 left-1/2 -translate-x-1/2 font-mono uppercase text-center text-red-900 whitespace-nowrap">Tyler Campbell, the website</h1>

  <div class="relative -z-20 w-40 aspect-square rounded-full mx-auto mt-8 bg-red-400 border-4 border-red-600 grid place-items-center"><span class="absolute text-red-600 text-8xl translate-y-4">☺︎</span></div>

  <aside id="contact" class="relative mt-[120px] w-full max-w-lg mx-auto p-4 rounded-2xl bg-blue-200">

    <form name="contact" method="POST" action="/#contact" data-netlify="true" class="flex flex-col gap-y-2">

      <label for="message" class="text-xl text-blue-400 font-serif indent-3">Lemme know&hellip;</label>

      <textarea 
        name="message"
        placeholder="hey i think you did great! &#10;♥︎ mom"
        rows="5"
        onkeyup="btnActivation()"
        class="
          rounded-md
          text-base font-mono
          placeholder-slate-400 focus:placeholder-transparent
          text-slate-700
          bg-blue-50 focus:bg-yellow-50
          border-2 border-transparent hover:border-blue-300 focus:border-blue-500
          focus:ring-0
        "></textarea>

      <button
        disabled
        type="submit" 
        class="
          w-min place-self-end
          mt-2
          rounded-md py-2 px-2.5
          text-xs font-bold tracking-wider uppercase whitespace-nowrap
          disabled:cursor-not-allowed enabled:cursor-pointer 
          disabled:text-blue-300 enabled:text-white
          disabled:bg-transparent enabled:bg-blue-500 enabled:hover:bg-blue-600
          disabled:ring-2 disabled:ring-blue-300
          enabled:shadow-md enabled:shadow-blue-800
        ">Send ➤</button>


    </form>

    <div id="success" class="hidden text-xl font-sans font-bold text-blue-500">
      <span class="text-2xl rounded-full bg-blue-50 py-2 px-2.5 mr-2 leading-none">👍</span> Hey thanks!
    </div>

  </aside>

</header>



<div class="mx-auto font-black pt-36 w-min whitespace-nowrap text-red-900">
  <a class="underline" rel="me" href="https://mastodon.social/@tylerscramble">tylerscramble@mastodon.social</a>
</div>



<script>
  // form
  let myForm = document.querySelector('#contact form');
  let message = document.querySelector('#contact form textarea');
  let submit = document.querySelector('#contact form button');
  let success = document.querySelector('#success');
  // form - disable submit button if textarea empty
  function btnActivation(){
    if (!message.value.length) {
      submit.disabled = true;            
    } else {
      submit.disabled = false;
    }           
  }
  // form - ajax
  myForm.addEventListener('submit', e => {
    e.preventDefault();
    const formData = new FormData(myForm);
    fetch(myForm.getAttribute('action'), {
      method: 'POST',
      headers: {
        'Accept': 'application/x-www-form-urlencoded;charset=UTF-8',
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
      },
      body: new URLSearchParams(formData).toString()
    })
    .then(res => {
      if (res) {
        myForm.classList.add('hidden')
        success.classList.replace('hidden', 'block')
      }
    });
  });
</script>