---
layout: layout.page.njk
bgcolor: '#292524' #stone-800
---
{% include "form.njk" %}

<main>
  <div class="sawtooth h-12"></div>
  <div class="py-24">
    <h1 class="text-center font-serif text-2xl sm:text-4xl text-blue-400 font-bold">Tyler Campbell, <span class="whitespace-nowrap">The Website</span></h1>
  </div>
  
  {% for image in gallery %}
    {# {% if loop.index < 4 %} #}
      <article id="{{ loop.index }}" class="snap-center py-8 flex justify-center items-center first-of-type:pt-0 last-of-type:pb-0">
        {% if loop.index == 1 %}
          {% picture "gallery/"+image.src, image.name, "w-auto h-auto max-h-[80vh] max-w-[80vw] border-8 border-orange-100 ring-8 ring-stone-700", "max-height: 80svh;", "100vw", "eager" %}
        {% else %}
          {% picture "gallery/"+image.src, image.name, "w-auto h-auto max-h-[80vh] max-w-[80vw] border-8 border-orange-100 ring-8 ring-stone-700", "max-height: 80svh;" %}
        {% endif%}
      </article>
    {# {% endif %} #}
  {% endfor %}

  <p class="text-center py-16"><a class="underline font-serif text-stone-400" rel="me" href="https://mastodon.social/@tylerscramble">tylerscramble@mastodon.social</a></p>

</main>


<script>
  {% include "app.js" %}
</script>