---
layout: layout.page.njk
bgcolor: '#ffedd5'  #orange-100
---
<header class="text-2xl text-orange-900 font-bold text-center w-full py-4 tracking-wider">Send this card to <span class="text-orange-500">Tyler</span>?</header>

<main class="relative pt-4 pb-8 px-4 w-full mesh">

  <aside id="contact" class="
    w-full max-w-2xl mx-auto p-3  aspect-[1.58] stripes
    ">

    <form name="contact" method="POST" action="/#contact" data-netlify="true" class="
      relative h-full 
      flex flex-col justify-between py-4 px-8
      bg-white">

      <label for="message" class="text-xl font-bold tracking-wider">Dear Tyler,</label>

      <textarea id="message" name="message" placeholder="hello" onkeyup="btnActivation()" class="
        text-center font-bold text-xl border-none bg-transparent placeholder-red-700 focus:ring-0 tracking-wider"></textarea>

      <div class="place-self-end -mr-5">
        <label for="sender" class="font-bold text-xl tracking-wider -mr-2 cursor-default">From</label>
        <input id="sender" name="sender" placeholder="Your name" type="text" class="
          pt-px placeholder-red-700
          min-w-[5ch] w-[11ch] max-w-sm
          font-bold text-xl tracking-wide border-none bg-transparent focus:ring-0"> 
      </div>

      <button disabled type="submit" class="
        absolute bottom-[-84px] right-4 rotate-3
        px-8 py-2 rounded-full cursor-pointer
        font-bold text-white text-2xl 
        disabled:cursor-not-allowed
        bg-teal-500 border-4 border-teal-300 hover:bg-teal-600 focus:bg-teal-600">
        OK!
      </button>


    </form>

    <div id="success" class="hidden text-xl font-sans font-bold text-blue-500">
      <span class="text-2xl rounded-full bg-blue-50 py-2 px-2.5 mr-2 leading-none">👍</span> Hey thanks!
    </div>

  </aside>

</main>

<div class="absolute -z-10 bottom-3 w-full text-center whitespace-nowrap text-transparent text-xs">
  <a class="underline" rel="me" href="https://mastodon.social/@tylerscramble">tylerscramble@mastodon.social</a>
</div>



<script>
  // form
  let myForm = document.querySelector('#contact form');
  let message = document.querySelector('#contact form textarea');
  let submit = document.querySelector('#contact form button');
  let success = document.querySelector('#success');
  // form - disable submit button if textarea empty
  function btnActivation(){
    if (!message.value.length) {
      submit.disabled = true;            
    } else {
      submit.disabled = false;
    }           
  }
  // form - ajax
  myForm.addEventListener('submit', e => {
    e.preventDefault();
    const formData = new FormData(myForm);
    fetch(myForm.getAttribute('action'), {
      method: 'POST',
      headers: {
        'Accept': 'application/x-www-form-urlencoded;charset=UTF-8',
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
      },
      body: new URLSearchParams(formData).toString()
    })
    .then(res => {
      if (res) {
        myForm.classList.add('hidden')
        success.classList.replace('hidden', 'block')
      }
    });
  });

  // dynamic sender input field width
  function getTextWidth(el) {
    // uses a cached canvas if available
    var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement("canvas"));
    var context = canvas.getContext("2d");
    // get the full font style property
    var font = window.getComputedStyle(el, null).getPropertyValue('font');
    var text = el.value;
    // set the font attr for the canvas text
    context.font = font;
    var textMeasurement = context.measureText(text);
    return textMeasurement.width;
  }

  var input = document.getElementById('sender');
  // listen for any input on the input field
  input.addEventListener('input', function(e) {
    var width = Math.floor(getTextWidth(e.target));
    // add 30 px to pad the input.
    var widthInPx = (width + 30) + "px";
    e.target.style.width = widthInPx;
  }, false);
</script>